@import 'tailwindcss';

@theme inline {
  --margin-main: 100px;
  --padding-main: 80px;
  --color-mainbtn: #3a52c9;
  --color-mainbg: #f6f8ff;
  --color-secbg: #00ced1;
  --color-myorange: #f28c38;
  --color-myprble: #a285ff;
  --color-prbleicon: #9b4dc7;
}
input[type='date']::-webkit-calendar-picker-indicator,
input[type='time']::-webkit-calendar-picker-indicator {
  background: none;
}

@media (min-width: 1024px) {
  .arrow:not(:last-child)::after {
    content: '';
    position: absolute;
    top: 0%;
    left: 50%;
    width: 150px;
    height: 150px;
    background-image: url('/arrow.png');
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateX(40%);
  }
}
html {
  scroll-behavior: smooth;
}
